body {
  align-items: center;
  margin: auto;
}
form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
  padding: 20px;
  margin: auto;
  width: 40%;
}
#h1 {
  text-align: center;
  font-size: 60px;
  color: orangered;
}
p {
  text-align: left;
}
input {
  text-align: left;
  width: 90%;

  height: 30px;
}

form > h2 {
  text-align: center;
}
a {
  color: blue;
}
.button {
  margin: 20px auto;
  width: 92%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  text-align: center;
  transition: box-shadow 0.2s;
}

.button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
#but2 {
  color: blue;
  border: none;
  background-color: white;
}
