body {
  margin: 0;
  padding: 0;
}
#main {
  display: flex;
  justify-content: space-between;
}
#main div:nth-child(1) {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: sans-serif;
  background: linear-gradient(
      to right,
      rgba(255, 215, 255, 0) 0%,
      rgba(225, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 61%
    ),
    linear-gradient(
      rgb(97, 183, 217) 52%,
      rgb(224, 246, 255) 60%,
      rgb(61, 124, 191) 61%
    );
}
.user-name {
  border-radius: 50%;
  padding: 5px 10px;

  background-color: #2049ad;
  color: #ffffff;
}
#logo {
  border-radius: 20%;
  margin-left: 5px;
}
#main nav {
  width: 60%;
  background: linear-gradient(
      to right,
      rgba(255, 215, 255, 0) 0%,
      rgba(225, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 61%
    ),
    linear-gradient(
      rgb(97, 183, 217) 52%,
      rgb(224, 246, 255) 60%,
      rgb(61, 124, 191) 61%
    );
}
#navbar {
  padding: 0px 10px;
  font-size: 20px;
  display: flex;
  font-weight: 500;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

#pages {
  text-decoration: none;
}
@media only screen and (max-width: 780px) {
  #main {
    height: 85px;
  }
}
